<input type="text" id="searchInput2" placeholder="Buscar contenidos..." autocomplete="off" class="text-black" />
<ul id="suggestions2"></ul>

<form method="post">
    <!-- Input oculto para almacenar el id del contenido seleccionado -->
    <input type="hidden" id="idcontenido" name="idcontenido" value="" />
    <button>Añadir contenido</button>
</form>