<input type="text" id="searchInput" placeholder="Buscar contenidos..." autocomplete="off" class="text-black" />
<ul id="suggestions"></ul>

<form method="post">
    <!-- Input oculto para almacenar el id del contenido seleccionado -->
    <input type="hidden" id="idcontenido" name="idcontenido" value="" />
    <button type="submit">Añadir contenido</button>
</form>